html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #638246;
  line-height: 1.5;
}

h2 {
  font-family: "Times New Roman", serif;
  font-size: 3rem;
  font-weight: 600;
}

p {
  width: 60%;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
