.container {
  width: 10rem;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 1rem;
}

.container h2 {
  color: #638246;
}

.value {
  font-size: 2.4rem;
}

.unit {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    min-width: 8em;
    height: 6rem;
  }
}
