.container {
  position: relative;
  height: 100vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/photo1.jpeg"), url("../../assets/photo2.jpeg"),
    url("../../assets/photo3.jpeg");

  background-size:
    100% 100%,
    33.33% 100%,
    33.33% 100%,
    33.33% 100%;

  background-position:
    center,
    left center,
    center center,
    right center;

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

  z-index: 500;
}

.dataname {
  align-self: center;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: Garamond, serif;
  text-align: center;
}

.dataname h1 {
  font-size: 4rem;
}

.dataname h3 {
  font-size: 2.5rem;
}

.logo {
  position: absolute;
  left: 50%;
  top: 100%;

  transform: translate(-50%, -60%);

  background: rgba(255, 255, 255);

  backdrop-filter: blur(1.5rem);

  border-radius: 2rem;

  max-height: 50%;

  z-index: 1;
}

.wave {
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 8rem;

  display: block;

  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .wave {
    color: #000;
  }

  .logo {
    background-color: #000;
  }
}

@media (max-width: 768px) {
  .dataname {
    padding-top: 12%;
  }

  .logo {
    width: 80%;
    height: auto;
  }

  .container {
    height: 70vh;
  }
}
