.container h4 {
  font-weight: 400;
}

.title {
  font-size: 2rem;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 100;
}

.cartItem {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  border-top: solid 0.1rem #00000020;
  border-bottom: solid 0.1rem #00000020;
  padding: 2rem 0;
}

.cartColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  flex: 1;
}

.cartColumn button {
  align-self: flex-start;
}

.cartColumn h4 {
  font-size: 2rem;
}

.cartColumn button {
  color: #ff4242;
}

.valueGift {
  font-weight: 400;
  font-size: 1.4rem;
}

.valueGiftCents {
  font-size: 1rem;
}

.cartRow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cartRow h4 {
  flex: 1;
}

.image {
  max-width: 10rem;
  border: solid 0.1rem #00000020;
}

.total {
  align-self: flex-end;
  font-size: 2rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.actions button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 30%;
  font-size: 1.6rem;
}

.actionsAdd {
  background-color: #f5f5f5;
  color: #495f33;
  border: solid 0.1rem #495f33;
}

.actionsAdd:hover {
  background-color: #ececec;
}

.actionsFinish {
  background-color: #638246;
  color: #fff;
  border: solid 0.1rem #638246;
}

.actionsFinish:hover {
  background-color: #4f6837;
}

@media (max-width: 768px) {
  .cartColumn h4 {
    font-size: 1.4rem;
  }

  .valueGift {
    text-wrap: nowrap;
    font-size: 1.2rem;
  }

  .valueGiftCents {
    font-size: 0.8rem;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }

  .actions button {
    width: 100%;
  }

  .image {
    max-width: 7rem;
  }

  .total {
    align-self: flex-start;
  }
}
