.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
}

.container h2 {
  color: #638246;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.maps {
  width: 60%;
  border: 0;
}

@media (max-width: 768px) {
  .maps {
    width: 100%;
  }

  .container p {
    width: 100%;
  }
}
