.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
}

.container h2 {
  color: #638246;
}

.container p {
  margin-top: 2rem;
}

.maps {
  width: 60%;
  border: 0;
}
