.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 9rem;
  gap: 4rem;
}

.actions button {
  background-color: #638246;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Times New Roman", serif;
}
.actions button:hover:not(:disabled) {
  background-color: #4a5e2b;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

.sortArea {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sortArea h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

.gifts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  max-width: 80%;
}

@media (max-width: 768px) {
  .actions {
    justify-content: center;
  }

  .sortArea {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .sortArea h3 {
    font-size: 1.2rem;
  }
}
